/* RESET : permet d'effacer le style par défaut imposé par le navigateur */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLASSES FONCTIONELLES FLEX BOX */

/* rendre flexible un parent*/
.flex {
    display: flex;
    /* rend flexible les enfants*/
    flex-wrap: wrap;
    /* si les enfants ne rentre pas à côte à côte, tu les renvoies à la ligne */
}

.space-between {
    justify-content: space-between;
    /* créer un espace entre les enfants */
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

/* alignement horizontal */
.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}


/* alignement vertical */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* aligner horizontalement du texte (ou une image qui se comporte comme du texte)*/
.textCenter {
    text-align: center;
}


/* GAP */
.gap-12 {
    gap: 12px;
}


/* CLASSES DE DIMENSIONS (classes de largeur)*/

.w-23 {
    width: 23%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-48 {
    width: 48%;
}


.w-73{
    width: 73%;
}


.w-98 {
    width: 98%;
}

/* classes margin / padding pour aérer ma page */

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}


.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}


.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}


.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-20 {
    padding: 20px;
}

.padding-50 {
    padding: 50px;
}

.padding-40 {
    padding: 40px;
}


body {
    font-family: "Playfair Display", serif;
}


 

/* supprimer les soulignements de mes liens */
a {
    text-decoration: none;
    color: black;
}

header ul {
    list-style: none;
}

.bgmarron {
    background-color: #996830;
}


/* background rouge pour faire mes test */
.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

 

.bgBeige {
background-color: #F2EDEA;

}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* bouton "decouvrir la collection" */
.btn {
    background-color: #354733;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

/* bouton "en savoir plus" */
.btn2 {
    background-color: #354733;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 20px;
}


/* style de ma section Avantage client */
.bgGreen{
background-color: #D2D0A0;
color: #73946B;
text-transform: uppercase;
}

/* style de mes cartes services */
.card{

background-color: #F8F9FB;
padding: 20px;
}

/* pour mettre mon texte en gras */
.txtGras{
    font-weight: bold;
}

/* pour mettre mon texte en gras */
.txtWhite{
    color: white;
}

/* style de mes 3 icones phoshore-icon */
.icone{
    font-size: 50px;
}

/* color jaune pour mes étoiles */ 
.colorYellow
{
color: #F4B93D
}

.bgFooter{
background-color: #354733
}